@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  a{
    text-decoration: none;
    color: inherit;
  }
  ul li{
    list-style: none;
  }
  /* nav starts here */
  header{
    margin-top: 20px;
  }
    nav .container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul li{
        padding: 16px 32px;
    }
    #home{
        color: #FEA301;
    }
    #about{
        color: #01ACFD;
    }
    #services{
        color: #FF4D4D;
    }
    #facilities{
        color: #05D4DF;
    }
    #admission{
        color: #5D58EF;
    }
    .btn-primary{
        background-color: #FEA301;
        color: white;
        padding:8px 20px;
        border-radius: 8px;
    }
    .btn-primary:hover{
        background-color: #FF4D4D;
    }
    /* nav ends here */

    /* banner starts here */
    .banner .container{
        max-width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner-content{
        max-width: 640px;
        margin: 122px;
        max-height: 330px;
    }
    .banner-content h2{
        font-size: 48px;
        font-weight: 700;
    }
    .banner-content p{
        color: #111111;
       margin-bottom: 24px;
       margin-top: 24px;
    }
     .btn{
        color: white;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #111111;
    }
    .banner-content .btn:hover{
        background-color: #fff;
        color: #111111;
        border: 1px solid #111111;
    }
    /* activity starts here */
    #curriculam{
        background-image: url(../images/bg.png);
    }
    .container .activity-content{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1160px;
        margin: 80px auto;
    }
   #text{
    text-align: center;
   }
   .activity-item1{
    box-shadow: inset 0 0 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(#DEF5FF, #ffffff);
border: 0.94px solid #def5ff;
border-radius: 19px;
width: 367px;
height: 476px;
margin-right: 28px;
   }
   .activity-item1 h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
   }
   .activity-item1 p{
    font-size: 1rem;
    font-weight: 400;
    margin: 33px 40px;
    text-align: center;
   }
   .activity-item1 img{
   margin: 52px 115px 0px 115px;

   }
   .activity-item1 .link-button{
    color: #64C8FF;
    text-align: center;
    margin: 33px 132px;
   }
     .activity-item2{
        border: 0.94px solid #fff4dc;
        border-radius: 19px;
        width: 367px;
        height: 481px;
        box-shadow: inset 0 0 28px 1px rgba(0, 0, 0, 0.05);
        background: linear-gradient(#FFF4DC, #ffffff);
        margin-right: 28px;
   }
   .activity-item2 h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 33px;
    text-align: center;
   }
   .activity-item2 p{
    font-size: 1rem;
    font-weight: 400;
    margin: 33px 40px;
    text-align: center;
   }
   .activity-item2 img{
   margin: 52px 115px 0px 115px;
   }
   .activity-item2 .link-button2{
    color: #F0AA00;
    text-align: center;
    margin: 33px 132px;
   }
    .activity-item3{
        border: 0.94px solid #f2e8ff;
        border-radius: 19px;
        width: 367px;
        height: 476px;
        box-shadow: inset 0 0 28px 1px rgba(0, 0, 0, 0.05);
        background: linear-gradient(#F2E8FF, #ffffff);
   }
   .activity-item3 h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
   }
   .activity-item3 p{
    font-size: 1rem;
    font-weight: 400;
    margin: 33px 40px;
    text-align: center;
   }
   .activity-item3 img{
   margin: 52px 115px 0px 115px;
   }
   .activity-item3 .link-button3{
    color: #8700FF;
    text-align: center;
    margin: 33px 132px;
   }
   .curriculum-btn {
    margin: 50px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.curriculum-btn-left:hover svg,
.curriculum-btn-right:hover svg {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s ease all;
}
/* stories starts here */
#stories {
    background: url(../images/bg.png), linear-gradient(to bottom, #ffffff, #FFF4DC);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 25px 125px 0px;
    margin: 0 auto;
    max-width: 1440px;
    max-height: 1018px;
}

#stories>h3, #stories .stories-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stories-btn>button {
    background-color: rgba(17, 17, 17, 1);
    color: whitesmoke;
    border-radius: 12px;
    margin: 25px 0;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.stories-btn>button:hover {
    background-color: whitesmoke;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;
    border: 1px solid rgba(17, 17, 17, 1);
    transition: 0.5s ease all;
}

.stories {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0px;
}

.stories-left-contents-cards {
    position: relative;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 540px;
    height: 630px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.stories-left-contents-cards>img {
    width: 540px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#date-01 {
    position: absolute; 
    top: 315px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(60, 216, 232, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.stories-left-contents-cards>h5 {
    padding: 50px 25px;
}

.stories-left-contents-cards .description {
    padding: 0px 25px;
}

.stories-right {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stories-right-contents-cards {
    position: relative;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    max-width: 290px;
    height: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.stories-right-contents-cards>img {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#date-02 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(149, 178, 38, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-03 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(93, 88, 240, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-04 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(1, 172, 253, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-05 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#stories .btn:hover{
    background-color: #fff;
    color: #111111;
    cursor: pointer;
}
#stories .btn{
    margin: 80px 550px;
}
.stories-right-contents-cards>h5 {
    padding: 25px;
}
